# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\KimLavoie\OneDrive - Cégep de Jonquière\Automne 2021\Conception d'interfaces\Laboratoires\Laboratoire #2\Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
